body{
    margin: 0px;
    animation-name: fade;
    animation-duration: 2s;
    user-select: none;
}

.header{
    width: auto;
    height: 150px;
    margin: 0px;
    background-color: rgb(216, 216, 216);
}
.header #logo{
    width: 220px;
    margin: 0px;
    animation-name:  slidedown;
    animation-duration: 2s;
}

.header #sign-up{
    width: 170px;
    margin: 0px;
    float: right;
    animation-name:  sideleft;
    animation-duration: 3s;
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin-top: 0px;
    position: relative;
    bottom: 90px;
    right: 100px;
}

.navbar a{
    color: rgb(8, 8, 8);
    text-decoration: none;
    margin: 50px;
    margin-top: 0px;
    display: block;
}

.navbar #a{
    border-top: 2px solid;
    border-color: rgb(71, 71, 71);
}

.navbar a:hover {
    font-size: larger;
    margin-bottom: 0px;
}

.navbar #a:hover{
    font-size: 20px;
}

.navbar li {
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    
}

p{
    margin-top: 60px;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

@keyframes sideleft{
    from{transform: translateX(100%)}
}

@keyframes sideRight{
    from{transform: translateX(-100%)}
}

@keyframes fade{
    30%{opacity: 0;}
}
@keyframes slidedown{
    from{transform: translateY(-100%)}
}
